@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Yes it did now we are using continuous integration</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <span>
        <div class="col-md-4">
            <img src="~/Photos/ipod1.jpg" alt="Picture of a Border Jack" />
        </div>
        <div>
            <p>
                Magna appellantur nec eu. Sit eu atqui nemore putant, mea te case cotidieque.
                Eum veritus temporibus concludaturque ei, id atqui expetenda repudiandae mea. Pri saepe ridens quaerendum et.
                Omnes principes suscipiantur cu vix.
            </p>
            <p>
                Ex case aeterno liberavisse has. Case solet ea per. Et minim populo utamur sed,
                ex ponderum repudiare torquatos sed. Et tale tamquam legendos nam. At eum atqui platonem volutpat.
                Virtute invidunt usu eu, per iuvaret saperet maluisset in, ne soleat habemus his. Inani assueverit vel eu.
            </p>
        </div>
    </span>
</div>